/*General Options*/
* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(133, 166, 163, 0.5) 100%
    )
    no-repeat fixed;
}

.wrapper {
  padding-bottom: 2.5rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*Header Image*/
.shop-header {
  position: relative;
  margin-top: 100px;
  width: 100%;
  opacity: 80%;
  border-radius: 20px;
}

/*Shop options sections*/
#shop-options {
  position: relative;
  width: 100%;
  margin: 0;
  padding-top: 30px;
}

/*Shop sections*/
.shop-section {
  position: relative;
  width: 100%;
  height: 377px;
  margin: 10px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(133, 166, 163, 0.75);
}

.shop-option-image {
  position: relative;
  justify-content: center;
  width: 25em;
  height: 15em;
  padding: 10px;
  border-radius: 20px;
}

.shop-option-header {
  position: relative;
  justify-content: center;
  padding-top: 20px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 57px;
  text-align: center;

  color: #85a6a3;
}

/*Recommendations Section*/
#staff-recommend {
  padding: 10px;
}

.recommend-header {
  position: relative;
  text-align: right;
  margin-bottom: 10px;
}

.recommends {
  position: relative;
  width: 100%;

  background: rgba(179, 221, 217, 0.24);
  border-radius: 40px;
}

.recs {
  position: relative;
  justify-content: center;
  width: 100%;
  margin: 10px;
  min-height: 56vh;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(133, 166, 163, 0.75);
}

.rec-title {
  position: relative;
  justify-content: center;
  padding-top: 20px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 57px;
  text-align: center;

  color: #6a817e;
}

.rec-img {
  position: relative;
  justify-content: center;
  width: 600px; /* width of container */
  height: 500px; /* height of container */
  object-fit: contain;
  padding: 10px;
  border-radius: 20px;
}

.rec-price {
  position: relative;
  justify-content: center;
  padding-top: 20px;
  margin-top: auto;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 57px;
  text-align: center;

  color: #6a817e;
}
