* {
    margin:0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(133, 166, 163, 0.5) 100%) no-repeat fixed;
}

.wrapper {
    padding-bottom: 2.5rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.rtl {
    text-align: right;
}

/*Header*/
nav .menu_section{
    position: relative;
    top: -20px;
}

nav .menu_item {

}

header .header_item{
    text-align: right;
}

header {
    padding: 10px;
}

header .logo {
    width: 5%;
    height: auto;
    border-radius: 10px;
}

/*Form*/
.form {
    width: 45%;

    background-color: white;
    border-radius: 40px;
    text-align: right;
}

.form-header {
    margin: 10px auto;
    width: 75%;

    background: #85A6A3;
    border-radius: 13px;

    text-align: center;
    color: white;
}

.form-field {
    padding: 5px 25px;
}

#submit {
    margin: 10px auto;
    width: 25%;

    background: #85A6A3;
    border-radius: 13px;

    text-align: center;
    color: white;
}