* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(133, 166, 163, 0.5) 100%
    ) no-repeat fixed;
}

.wrapper {
    padding-bottom: 2.5rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.rtl {
    text-align: right;
}

/*Error*/
#error {
    color: red;
    padding-right: 20px;
}

/*Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/*Header*/
header .header_item {
    text-align: right;
}

header {
    padding: 10px;
    margin-bottom: 50px;
}

header .logo {
    width: 5%;
    height: auto;
    border-radius: 10px;
}

/*Form*/
.form {
    width: 45%;
    margin-top: 20px;
    background-color: white;
    border-radius: 40px;
    text-align: right;
}

.form-header {
    margin: 10px auto;
    width: 75%;

    background: #85a6a3;
    border-radius: 13px;

    text-align: center;
    color: white;
}

.form-field {
    padding: 5px 25px;
}

#submit {
    margin: 10px auto;
    width: 25%;

    background: #85a6a3;
    border-radius: 13px;

    text-align: center;
    color: white;
}

/*Header and Nav*/
/***Header and Nav****/
.bt {
    font-family: "Rubik", sans-serif;
    background-color: #b3ddd9;
    border-radius: 50px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    min-width: 70px;
    font-weight: bold;
    border: solid 1px #b3ddd9;
}

button:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);

    z-index: 150;
}

a:link,
a:visited {
    color: #111111;
    text-decoration: none;
}

a:hover,
a:active {
    color: #111111;
}

.header_item {
    direction: rtl;
    padding-right: 160px;
    padding-left: 1090px;
}

/*GENERAL*/
.section {
}

.section .header_text {
    z-index: 1;
}

.page {
    width: auto;
    min-height: 800px;
    direction: rtl;
}

.text_grad {
    background: -webkit-linear-gradient(65deg, #85a6a3, #b3ddd9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header_text {
    padding-top: 20px;
    min-width: 100%;
}

/*MENU*/
.menu_section {
    position: fixed;
    z-index: 100;
    height: 50px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #b3ddd9;
    direction: rtl;

    -webkit-box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 720px) {
    .menu_section {
        width: 85vw;
        border-right: 50vw solid #b3ddd9;
    }
}

.menu_section {
    font-family: "Rubik", sans-serif;
}

.branding {
    min-width: 150px;
    min-height: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: white;

    -webkit-box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);

    background-image: url("../Assets/logo-2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.branding p {
    font-size: 50px;
    text-align: center;
    line-height: 0px;
}

.menu_item {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 0px;
    min-width: 70px;
    background-color: #b3ddd9;
    text-align: center;
    transition: transform 0.1s;

    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

    -webkit-box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
}

.menu_item:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);

    z-index: 150;
}

.section_container {
    margin-right: auto;
    margin-left: auto;
}

/*MENU DROPDOWN */
@media screen and (min-width: 720px) {
    .dropdown-content {
        display: none;
    }

    .dropdown {
        display: none;
    }
}

@media screen and (max-width: 719px) {
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #b3ddd9;
        padding: 5px;
        z-index: 1;
        left: 0;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .menu_item_inside {
        -webkit-box-shadox: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-color: transparent;
    }

    .menu_item_outside {
        display: none;
    }
}

/*FLEX*/
.flex_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex_header_container {
    justify-content: center;
}

.flex_header_item {
    min-width: 350px;
    max-width: 600px;
    z-index: 50;
}

.flex_feature_item {
    transition: transform 0.1s;

    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.flex_feature_item:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.flex_center {
    justify-content: center;
}

#lessons-link:hover,
#private-link:hover,
#rent-homepage-link:hover {
    cursor: pointer;
}

a,
a:link,
a:visited {
    color: #111111 !important;
    text-decoration: none !important;
}

a:hover,
a:active {
    color: #111111;
}