/*BASIC*/
html {height: auto; width: auto; margin: 0px; padding: 0px;}
body {height: auto; width: auto; margin: 0px; padding: 0px;}
p{font-family: 'Rubik', sans-serif;}
h1{color: #111111;}
h1{font-family: 'Rubik', sans-serif; text-align: center; font-size: 80px;}
h2{ font-family: 'Rubik', sans-serif; text-align: center; font-size: 40px; color: #B3DDD9}
button{
    font-family: 'Rubik', sans-serif;
    background-color: #B3DDD9;
    border-radius: 50px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    min-width: 70px;
    font-weight: bold;
    border: solid 1px #B3DDD9;

}
    button:hover{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    
        z-index: 150;
    }



a:link, a:visited{color:#111111; text-decoration: none;}
a:hover, a:active{color: #111111;}

.header_item{
    direction: rtl;
    padding-right: 160px;   
}
/*GENERAL*/
.section{}
.section .header_text{z-index: 1;}

.page{
    width: auto;
    min-height: 800px;
    direction: rtl;
}


.text_grad{
    background: -webkit-linear-gradient(65deg, #85A6A3, #B3DDD9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header_text{padding-top: 20px; min-width: 100%;}
/*MENU*/
.menu_section{
    position: fixed;
    z-index: 100;
    top: 30px;
    height: 50px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #B3DDD9;
    direction: rtl;

    -webkit-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
    box-shadow: 9px 10px 39px -2px (0,0,0,0.3);;
    
}
@media screen and (max-width: 720px){
    .menu_section{width:85vw; border-right:  50vw solid #B3DDD9;}
}
.menu_section{font-family: 'Rubik', sans-serif;
}

.branding{
    min-width: 150px;
    min-height: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: white;

    -webkit-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
    box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);

    background-image: url("../Assets/logo-2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.branding p {font-size: 50px; text-align: center; line-height: 0px;}

.menu_item{
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 0px;
    min-width: 70px;
    background-color: #B3DDD9;
    text-align: center;
    transition: transform .1s;

    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);

    -webkit-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
    box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);;
    
}

.menu_item:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);

    z-index: 150;
}
.section_container{margin-right: auto; margin-left: auto;}

/*MENU DROPDOWN */
@media screen and (min-width: 720px){.dropdown-content{display: none;} .dropdown {display: none;}}
@media screen and (max-width: 719px) {
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #B3DDD9;
        padding: 5px;
        z-index: 1;
        left: 0;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
    .menu_item_inside{
        -webkit-box-shadox: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-color: transparent;
    }
    .menu_item_outside {display: none;}
}
/*FLEX*/
.flex_container {display: flex; flex-wrap: wrap; align-items:center;}
.flex_header_container{justify-content: center;}
.flex_header_item{
    min-width: 350px;
    max-width: 600px;
    z-index: 50;
}
.flex_feature_item{
    transition: transform .1s;

    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
}
.flex_feature_item:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.flex_center {justify-content:center;}

/*HEADER*/
.header_quote {border-radius: 5px; padding: 10px;}

.header_section_container{}
/*SECOND*/
.second_section{
    min-height: 700px;
    height: auto!important;
    background: repeating-linear-gradient(
        45deg,
        white,
        white 3px, 
        rgba(0, 116, 217, 0.01) 3px,
        rgba(0, 116, 217, 0.01) 5px,
    );
}
    .second_section_container{}

    /*THIRD*/

    .third_section{  
        display: flex;      
        border-radius: 50px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 0px;
        margin-left: 130px;
       
        background-color: #cff3ee;
        box-sizing: border-box;
        width: 80%;
        height: 30px;

    }
     .third_section_container {}
    /*FEATURED*/
    .feature{
        min-width: 250px;
        max-width: 300px;
        height: 400px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 0px;
        padding-top: 5px;

        color: #85A6A3;
      

        -webkit-box-shadow: 9px 10px 39px -2px rgba(0,0,0, 0.3);
        -moz-box-shadow: 9px 10px 39px -2px rgba(0,0,0, 0.3);
        box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
    }
    
    
    .feature h2 {line-height: 0;}
    .feature p {text-align: center; margin: auto; max-width: 200px;}
    .feature .feature_image {width:200px; height: 200px; margin:auto;  background-size: cover;}
    .feature1 .feature_image {background-image: url("../Assets/wavesurf.jpg");}
    .feature2 .feature_image {background-image: url("../Assets/sup.jpg");}

    .data_main{
        width: 100%;
        float: left;
        background-color: white;
        height: auto;
        padding: 60px 0px;
        direction: rtl;
    


    }
    .section{
        float: left;
        width: 100%;
       
    }
    .container{
      
        background-color: #B3DDD9;

    }
    .weather_info{
        padding: 40px 20px;
        background-color: #B3DDD9;
  
    }
    .weather_text{
        font-size: 20px;
        color:aliceblue;
    }
    .weather_info h3{
        font-size: 29px;
        line-height: 25px;
        padding-top: 25px;
    }
    



    .wind_image {width: 30px; height: 30px; margin: auto; background-size: cover; background-image: url("../Assets/wind.png");}

    


