/*BASIC*/
html {
  height: auto;
  width: auto;
  margin: 0px;
  padding: 0px;
}

body {
  height: auto;
  width: auto;
  margin: 0px;
  padding: 0px;
}

p {
  font-family: "Rubik", sans-serif;
}

h1 {
  color: #111111;
}

h1 {
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 80px;
}

h2 {
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 40px;
  color: #111111;
}

button {
  font-family: "Rubik", sans-serif;
  background-color: #b3ddd9;
  border-radius: 50px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  min-width: 70px;
  font-weight: bold;
  border: solid 1px #b3ddd9;
}

button:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);

  z-index: 150;
}

a:link,
a:visited {
  color: #111111;
  text-decoration: none;
}

a:hover,
a:active {
  color: #111111;
}

.header_item {
  direction: rtl;
  padding-right: 160px;
}

/*GENERAL*/
.section {
}

.section .header_text {
  z-index: 1;
}

.page {
  width: auto;
  min-height: 800px;
  direction: rtl;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 800px;
  padding: 0;
  margin: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.text_grad_blue_turq {
  background: -webkit-linear-gradient(65deg, #b3ddd9, #85a6a3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_text {
  padding-top: 40px;
  min-width: 100%;
}

/*MENU*/
.menu_section {
  position: fixed;
  z-index: 100;
  top: 30px;
  height: 50px;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #b3ddd9;
  direction: rtl;

  -webkit-box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 720px) {
  .menu_section {
    width: 85vw;
    border-right: 50vw solid #b3ddd9;
  }
}

.menu_section {
  font-family: "Rubik", sans-serif;
}

.branding {
  min-width: 150px;
  min-height: 100px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 0px;
  background-color: white;

  -webkit-box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);

  background-image: url("../Assets/Images/logo-2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.branding p {
  font-size: 50px;
  text-align: center;
  line-height: 0px;
}

.menu_item {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  min-width: 70px;
  background-color: #b3ddd9;
  text-align: center;

  transition: transform 0.1s;

  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

  -webkit-box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
}

.menu_item:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);

  z-index: 150;
}

.section_container {
  margin-right: auto;
  margin-left: auto;
}

/*MENU DROPDOWN */
@media screen and (min-width: 720px) {
  .dropdown-content {
    display: none;
  }

  .dropdown {
    display: none;
  }
}

@media screen and (max-width: 719px) {
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #b3ddd9;
    padding: 5px;
    z-index: 1;
    left: 0;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .menu_item_inside {
    -webkit-box-shadox: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
  }

  .menu_item_outside {
    display: none;
  }
}

/*FLEX*/
.flex_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex_header_container {
  justify-content: center;
}

.flex_header_item {
  min-width: 350px;
  max-width: 600px;
  z-index: 50;
}

.flex_center {
  justify-content: center;
}

.flex_feature_item {
  transition: transform 0.1s;

  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.flex_feature_item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/*FIRST*/
.first_section {
  min-height: 700px;
  height: auto !important;
  background: repeating-linear-gradient(
    45deg,
    white,
    white 3px,
    rgba(0, 116, 217, 0.01) 3px,
    rgba(0, 116, 217, 0.01) 5px
  );
}

.first_section_container {
}

/*FEATURED*/
.feature {
  min-width: 250px;
  max-width: 300px;
  height: 400px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
  padding-top: 20px;

  -webkit-box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 9px 10px 39px -2px rgba(0, 0, 0, 0.3);
}

.feature h2 {
  line-height: 0;
}

.feature p {
  text-align: center;
  margin: auto;
  max-width: 200px;
}

.feature .feature_image {
  width: 200px;
  height: 200px;
  margin: auto;
  background-size: cover;
}

.feature1 .feature_image {
  background-image: url(../Assets/Images/calendar.png);
}

.feature2 .feature_image {
  background-image: url(../Assets/Images/surf.png);
}

/*MODAL*/
.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
  background-color: #b3ddd9;
  margin: auto;
  padding: 20px;
  border: 1px solid #b3ddd9;
  width: 40%;
}

.modal_content h2 {
  color: white;
}

.close {
  display: block;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.table{
    border: solid 1px #85a6a3;
    word-spacing: 5px;
    width: 100%;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;

}
th{
    color: white;
}
.modal2{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 120px;
    padding-left: 200px;
    left:0;
    top: 0;
    width: 70%;
    height: 100%;
    overflow:auto;
  
}


