.head,
.third_section,
.form {
    position: relative;
    width: 100%;
    opacity: 80%;
    border-radius: 20px;
    background-color: #b0d9d9;
    text-align: center;
    font-family: system-ui;
    margin: 3px;
    padding: 10px;
}

header {
    margin-bottom: 100px;
}

#demo {
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}

.wheather-data {
    background-image: url("../Assets/Images/waves1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    width: 100%;
    opacity: 65%;
    border-radius: 20px;
    text-align: center;
    font-family: system-ui;
    margin: 3px;
    padding: 10px;
}

.shop-header {
    position: relative;
    width: 100%;
    opacity: 80%;
    border-radius: 20px;
    margin: 3px;
    padding: 10px;
    margin-right: 30px;
}

.calendar {
    margin: 10px;
    padding: 10px;
}

/*Recommendations Section*/
#staff-recommend {
    padding: 10px;
}

.recommend-header {
    position: relative;
    text-align: right;
    margin-bottom: 10px;
}

.recommends {
    position: relative;
    width: 100%;

    background: rgba(179, 221, 217, 0.24);
    border-radius: 40px;
}

.recs {
    position: relative;
    justify-content: center;
    width: 100%;
    margin: 10px;
    min-height: 56vh;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(133, 166, 163, 0.75);
}

.rec-title {
    position: relative;
    justify-content: center;
    padding-top: 20px;

    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 57px;
    text-align: center;

    color: #6a817e;
}

.rec-img {
    position: relative;
    justify-content: center;
    width: 400px; /* width of container */
    height: 300px; /* height of container */
    object-fit: contain;
    padding: 10px;
    border-radius: 20px;
}

.rec-price {
    position: relative;
    justify-content: center;
    padding-top: 20px;
    margin-top: auto;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 57px;
    text-align: center;

    color: #6a817e;
}

#hover:hover {
    opacity: 0.3;
}

#hover {
    border-radius: 20px;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    border-top-width: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 10px;
}

th {
    background-color: #b0d9d9;
}

#azhara1,
#taarih-azmana1,
#details-header {
    border: 5px solid white;
    height: 65px;
    width: 40%;
    margin: auto;
    border-bottom-color: #b0d9d9;
    border-style: dotted;
}

#azhara2,
#leida-border {
    border: 5px solid white;
    height: 65px;
    width: 40%;
    margin: auto;
    border-top-color: #b0d9d9;
    border-style: dotted;
}

#cal-image {
    width: 100px;
    height: 100px;
    margin: -40px;
}

#price {
    border: #85b7e0 10px solid;
    margin: auto;
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}
